<ion-header>
  <ion-navbar color='primary'>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Personal Information</h3>
  
  
    <ion-item (click) ="updateName()">
      <ion-grid>
        <ion-row>
          <ion-col col-6> Name </ion-col>
          <ion-col col-6 *ngIf="userProfile?.userName">
            {{userProfile?.userName}} 
          </ion-col>
          <ion-col col-6 class="placeholder-profile" *ngIf="!userProfile?.userName">
            <span>add user name</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <!-- <ion-item (click)= "updatePhoneNumber()">
      <ion-grid>
        <ion-row>
          <ion-col col-6>Phone</ion-col>
          <ion-col col-6 *ngIf="userProfile?.phoneNumber">
            {{ userProfile?.phoneNumber}}
          </ion-col>
          <ion-col col-6 class="placeholder-profile" *ngIf="!userProfile?.phoneNumber">
            <span>add Phone Number</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item> -->
   
      <ion-item (click)="updateEmail()">
        <ion-grid>
          <ion-row>
            <ion-col col-6>Email</ion-col>
            <ion-col col-6 *ngIf="userProfile?.email">
              {{userProfile?.email}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

    <ion-item (click)="updatePassword()">
      <ion-grid>
        <ion-row>
          <ion-col col-6>Password</ion-col>
          <ion-col col-6 class="placeholder-profile" >
            <span>change Password</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  <ion-item>
    <button ion-button block (click)="logout()">logout</button>
  </ion-item>

  
</ion-content>
