<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>SignUp</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="signUpForm">

      <ion-item>
        <ion-label floating>E-mail</ion-label>
        <ion-input type="email" formControlName="email" [(ngModel)] = "user.email"></ion-input>
      </ion-item>

      <ion-item *ngIf="!signUpForm.controls.email.valid && (signUpForm.controls.email.dirty || submitAttempt)">
          <p>Please enter a valid email</p>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" id="password" formControlName="password" [(ngModel)] = "user.password"></ion-input>
      </ion-item>

      <ion-item *ngIf="!signUpForm.controls.password.valid && (signUpForm.controls.password.dirty || submitAttempt)">
        <p>password should have minimum 6 characters</p>
      </ion-item>

      <!-- <ion-item>
        <ion-label floating>Confirm Password</ion-label>
        <ion-input type="password" id="confirmPassword" formControlName="user.confirmPassword" [(ngModel)] = "user.confirmPassword"></ion-input>
      </ion-item>

      <ion-item *ngIf="signUpForm.controls.confirmPassword.valid && (signUpForm.controls.confirmPassword.dirty || submitAttempt)">
        <p>password donot match</p>
      </ion-item> -->

      <ion-item>
        <ion-label>I accept JCI'S terms</ion-label>
        <ion-checkbox formControlName="conditionsCheck" id="conditionsCheck"></ion-checkbox>
      </ion-item>

      <ion-item *ngIf="!signUpForm.controls.conditionsCheck.valid && (signUpForm.controls.conditionsCheck.dirty || submitAttempt)">
        <p>check the terms to register.</p>
      </ion-item>

      <ion-item> 
        <button ion-button block (click)="signupUser(user)">Create an Account</button>
      </ion-item>

    </form>
  </ion-list>

</ion-content>
